@import com.mohiva.play.silhouette.api.LoginInfo
@import com.mohiva.play.silhouette.impl.providers.{CredentialsProvider,SocialProviderRegistry}

@(loggedUser:User, loginInfo:LoginInfo, socialProviderRegistry:SocialProviderRegistry, registerForm: Form[OAuth2ClientForms.OAuth2ClientRegister])(implicit request:RequestHeader,messages:Messages)

@linkedIds = @{loggedUser.profiles.map(_.loginInfo.providerID)}

@implicitFieldConstructor = @{b3.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.mainApp(Messages("oauth2.register.title"), tab = "oauth-register", loggedUser = Some(loggedUser), loginInfo=Some(loginInfo)) {
  @request.flash.get("error").map { msg =>
    @errors.alert(msg, "error")
  }
  @b3.form(routes.Application.registerOAuth2Client) {
    <fieldset>
      <legend>@Messages("oauth2.register.legend")</legend>
      @helper.CSRF.formField

      @b3.text(registerForm("id"),
        '_label -> Messages("oauth2.register.id"),
        'placeholder -> Messages("oauth2.register.id"),
        'autofocus -> true)

      @b3.text(registerForm("secret"),
        '_label -> Messages("oauth2.register.secret"),
        'placeholder -> Messages("oauth2.register.secret"))

      @b3.text(registerForm("redirectUri"),
        '_label -> Messages("oauth2.register.redirectUri"),
        'placeholder -> Messages("oauth2.register.redirectUri"))

      @b3.text(registerForm("codeRedirectUri"),
        '_label -> Messages("oauth2.register.codeRedirectUri"),
        'placeholder -> Messages("oauth2.register.codeRedirectUri"))

      @b3.text(registerForm("grantTypes"),
        '_label -> Messages("oauth2.register.grantTypes.label"),
        'placeholder -> Messages("oauth2.register.grantTypes.placeholder"))

      @b3.submit('class -> "btn btn-primary"){ @Messages("oauth2.register.submit") }
    </fieldset>
  }
}