.*
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
scripts
drops.iml
/conf/application.local.conf
.sbtserver
project/idea.sbt
project/play-fork-run.sbt
project/sbt-ui.sbt 
