@(signUpForm: Form[AuthForms.SignUpData])(implicit request: RequestHeader, messages:Messages)

@implicitFieldConstructor = @{b3.vertical.fieldConstructor}
  @b3.form(routes.Auth.handleStartSignUp) {
    <fieldset>
      <legend>@Messages("signup.legend")</legend>
      @helper.CSRF.formField
      
      @b3.email(signUpForm("email"), 
        '_label -> Messages("signup.email"),
        'autofocus -> true)
      
      @b3.text(signUpForm("firstName"), 
        '_label -> Messages("signup.firstName"))
      
      @b3.text(signUpForm("lastName"), 
        '_label -> Messages("signup.lastName"))

      @b3.text(signUpForm("mobilePhone"),
        '_label -> Messages("signup.mobilePhone"))

      @b3.text(signUpForm("placeOfResidence"),
        '_label -> Messages("signup.placeOfResidence"))

      @b3.date(signUpForm("birthday"),
        '_label -> Messages("signup.birthday"))

      @b3.select(signUpForm("sex"),
        options = Seq(
          "male"->Messages("signup.sex.male"),
          "female"->Messages("signup.sex.female"),
          "other"->Messages("signup.sex.other")
        ),
        '_label -> Messages("signup.sex"))

      @b3.password(signUpForm("password.password1"), 
        '_label -> Messages("signup.password"))
      
      @b3.password(signUpForm("password.password2"), 
        '_label -> Messages("signup.verify"),
        '_error -> signUpForm.error("password"))
      
      @b3.submit('class -> "btn btn-primary"){ @Messages("signup.submit") }
      <div class="post-form-opts">
        <p>@Html(Messages("signup.postForm", routes.Auth.signIn))</p>
      </div>
    </fieldset>
  }
