@import com.mohiva.play.silhouette.api.LoginInfo
@import scala.concurrent.Await
@import scala.concurrent.duration._
@import scala.language.postfixOps
@import scala.concurrent.ExecutionContext.Implicits.global

@(title: String, tab: String = "", loggedUser: Option[User], loginInfo:Option[LoginInfo] = None)(content: Html)(implicit messages:Messages)

@navbarContent = {
  <ul class="nav navbar-nav">
    @if(loggedUser.isDefined) {
      @if(loggedUser.map((u) => u.hasRole(RoleAdmin) || u.hasRole(RoleEmployee)).getOrElse(false)) {
      <li class="dropdown">
        <a href="#">@Messages("navbar.menu.admin")</a>
        <ul class="dropdown-content">
          @if(loggedUser.map((u) => u.hasRole(RoleAdmin) || u.hasRole(RoleEmployee)).getOrElse(false)) {
            <li class="@("active".when(tab == "oauth-register")) nav-sub"><a href="@routes.Application.registration">@Messages("navbar.oauth.register")</a></li>
          }
          @if(loggedUser.map((u) => u.hasRole(RoleAdmin)).getOrElse(false)) {
            <li class="@("active".when(tab == "roles")) nav-sub"><a href="@routes.Roles.index">@Messages("navbar.roles")</a></li>
          }
        </ul>
      </li>
      }
    } else {

    }
  </ul>
  <ul class="nav navbar-nav navbar-right">
    @loggedUser.map { user =>
      @loginInfo.map { loginInfo =>
        <li class="@("active".when(tab == "profile")) profile">
          <a href="@routes.Application.profile">
            @user.profileFor(loginInfo).flatMap((profile) => profile.getAvatar.flatMap((ava) => Await.result(ava.getImage(30,30), 3000 millis))).map { url =>
              <img class="avatar" src="@url" />
            }
            @Messages("navbar.username", user.fullName(loginInfo).getOrElse(Messages("navbar.none")))
          </a>
        </li>
      }
      <li><a href="@routes.Auth.signOut">@Messages("navbar.signout")</a></li>
    }.getOrElse {
      <li class="@("active".when(tab == "signin"))"><a href="@routes.Auth.signIn">@Messages("navbar.signin")</a></li>
      <li class="@("active".when(tab == "signup"))"><a href="@routes.Auth.startSignUp">@Messages("navbar.signup")</a></li>
    }
  </ul>
}

@main(title, navbarContent)(content)
