@(title: String, navbarContent: Html = Html(""))(content: Html)(implicit messages:Messages)
@import services.TemplateHtml._
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/drop.png")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/vca.css")">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("javascript/dropzone.js")"></script>
    <script src="@routes.Assets.versioned("javascript/config.js")"></script>
  </head>
  <body>
    <div class="navbar navbar-vca navbar-default navbar-fixed-top"> <!-- navbar-default -->
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="@routes.Application.index">
            <img src="@routes.Assets.versioned("images/drop_small.png")" alt="@Messages("navbar.brand.logo")"/>
            <div>
              <span class="bold">@Messages("navbar.brand.appName")</span>
              <span>@Messages("navbar.brand.organisation")</span>
            </div>
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="sr-only">@Messages("navbar.toogle.nav")</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          @navbarContent
        </div>
      </div>
    </div>    
    <div class="container">
      @content
    </div>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
  </body>
</html>
