@(contents: List[Html])


<html>

				<head><meta charset="utf-8"></head>
				<body>
								ist die aktuelle Webseite des
								<p>
									<strong> 
										Viva con Agua de Sankt Pauli e.V. Copyright-Hinweis
									</strong>
									<br>
									@for(content <- contents){
										@content
									}
									<br>
										Texte und Informationen von dieser Webseite können grundsätzlich nur mit Quellenangabe weiterverwendet werden. Fotos sind copyrightgeschützt und stehen auch nicht für 	
										private Zwecke frei zur Verfügung. Wenn Sie Fotos von Viva con Agua nutzen möchten, wenden Sie sich bitte an: 
									</br>
								</p>
								
								<p>
									<strong>
													Haftungsausschluss Inhalt des Onlineangebotes
									</strong>
								<br>
									Viva con Agua de Sankt Pauli e.V. (nachfolgend &bdquo;Viva con Agua") &uuml;bernimmt keinerlei Gew&auml;hr f&uuml;r die Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten Informationen. Haftungsanspr&uuml;che gegen Viva con Agua, die sich auf Sch&auml;den materieller oder ideeller Art beziehen, welche durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollst&auml;ndiger Informationen verursacht wurden, sind grunds&auml;tzlich ausgeschlossen, sofern seitens Viva con Agua kein nachweislich vors&auml;tzliches oder grob fahrl&auml;ssiges Verschulden vorliegt.
								</p>

								<p>
									<strong>
												Verweise und Links
									</strong>
								<br>
Sofern auf Verweisziele ("Links") direkt oder indirekt verwiesen wird, die au&szlig;erhalb des Verantwortungsbereiches von Viva con Agua liegen, haftet Viva con Agua nur dann, wenn er von den Inhalten Kenntnis hat und es ihm technisch m&ouml;glich und zumutbar w&auml;re, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. F&uuml;r dar&uuml;ber hinausgehende Inhalte und insbesondere f&uuml;r Sch&auml;den, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der &uuml;ber Links auf die jeweilige Ver&ouml;ffentlichung lediglich verweist. Diese Einschr&auml;nkung gilt gleicherma&szlig;en auch f&uuml;r Fremdeintr&auml;ge in vom Autor eingerichteten G&auml;steb&uuml;chern, Diskussionsforen und Mailinglisten.
								</p>


								<p>

								<strong>
												Urheberrecht
								</strong>
								<br>
Viva con Agua ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von Viva con Agua selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zur&uuml;ckzugreifen.
								</p>


								<p class="text">
									Das Copyright f&uuml;r ver&ouml;ffentlichte, von Viva con Agua selbst erstellte Objekte bleibt allein bei Viva con Agua. Eine Vervielf&auml;ltigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdr&uuml;ckliche Zustimmung von Viva con Agua nicht gestattet.
								</p>

<p><strong>Rechtswirksamkeit dieses Haftungsausschlusses</strong><br>
Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollst&auml;ndig entsprechen sollten, bleiben die &uuml;brigen Teile des Dokumentes in ihrem Inhalt und ihrer G&uuml;ltigkeit davon unber&uuml;hrt.</p>
</div>
</body></html>

  <div style="clear:both;"></div>
  
</div>
<!-- end inline_artikel.inc.php -->        </div>
      </div>
    </div>
    <div id="footer" class="footer">
        <div style="width: 33%; min-width: 300px; float: left;">
          <div class="footer-column">
            <h2 class="footer-headline">SPENDEN</h2>
            <p class="footer-text">
              - <a href="/spenden">JETZT SPENDEN</a><br>
              - <a href="/foerdermitgliedschaft">FÖRDERMITGLIED WERDEN</a><br>
              - <a href="/unternehmen">ALS UNTERNEHMEN</a><br>
              - <a href="/geldauflagen">BUßGELD</a>
            </p>
            <h2 class="footer-headline">SPENDENKONTO</h2>
            <p class="footer-text">
              VIVA CON AGUA DE SANKT PAULI E.V.<br>
              BIC: HASPDEHHXXX<br>
              IBAN: DE58200505501268135181
            </p>
          </div>
        </div>
        <div style="width: 33%; min-width: 300px; float: left;">
          <div class="footer-column">
            <h2 class="footer-headline">AUSZEICHNUNGEN</h2>
            <p>
              <img src="/files/images/other/auszeichnungen.png" border="0">
            </p>
            <h2 class="footer-headline">VEREINS-INFO</h2>
            <p class="footer-text">
              <a href="/files/pdfs/Vereinssatzung.pdf" target="_blank">VEREINSSATZUNG</a><br/>
              <a href="/transparenz">JAHRESBERICHTE</a>
            </p>
            <p>&nbsp;</p>
          </div>
        </div>
        <div style="width: 33%; min-width: 300px; float: left;">
          <div class="footer-column">
            <h2 class="footer-headline">KONTAKTE</h2>
            <p class="footer-text">
              <a href="/impressum">IMPRESSUM</a><br>
              <a href="/datenschutzerklaerung">DATENSCHUTZERKLÄRUNG</a><br>
              <a href="/kontakt">KONTAKT</a><br>
              <a href="/presse">PRESSEBEREICH</a><br>
              <a href="/team">ANSPRECHPARTNER</a><br>
              <a href="/jobs">JOBS &amp; PRAKTIKA</a>
            </p>
            <div class="footer-text" style="float: right; display: inline-block; margin-bottom: 10px;">
              <div style="float: right; padding-left: 10px; width: 75px;">
                <img src="/files/images/other/logo_whh.jpg" alt="Welthungerhilfe">
              </div>
              <div class="footer-text-supporting" style="float: left;">
              Viva con Agua<br/>
              unterstützt<br/>
              Wasserprojekte der<br>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
