@(OrganizationForm: Form[models.forms.OrganizationForms.OrganizationFormData])(implicit request: RequestHeader, messages:Messages)

@implicitFieldConstructor = @{b3.vertical.fieldConstructor}
	@request.flash.get("error").map { msg =>
		@errors.alert(msg, "error")
	}
	@b3.form(routes.OrganizationController.insert) {
		<fieldset>
			<legend>@Messages("")</legend>
			@helper.CSRF.formField

			@b3.text(OrganizationForm("name"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("address"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("telefon"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("fax"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.email(OrganizationForm("email"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("executive"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("abbreviation"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.text(OrganizationForm("impressum"),
				'_label -> Messages("organizationInsert.name")
			)
			@b3.submit('class -> "btn btn-primary"){ @Messages("organizationInsert.submit") }
		}
