.card {
  @shadow-card: 0 4px 8px 0 rgba(0,0,0,0.2);
  @shadow-card-highlight: 0 8px 16px 0 rgba(0,0,0,0.2);
  /* Add shadows to create the "card" effect */
  .box-shadow(@shadow-card);
  transition: 0.3s;
  width: 150px;
  @media(max-width: @responsiveBreak) {
    width: 100%;
  }

  &:hover {
    .box-shadow(@shadow-card-highlight);
  }

  img {
    width: 100%;
  }

  .details {
    padding: 1em;
  }
}