@background-color: #fafafa;
@background-color-dark: #f6f6f6;

@primary-color: #2196f3;
@accent-color: #ffc100;
@warn-color: #d50000;

@primary-font-color: #FFFFFF;
@default-color: #22262b;

@highlight-color: lighten(@primary-color, 40%);
@inactive-color: #7a7a7a;

@shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

@responsiveBreak: 767px;

@radius: 5px;

.border-radius(@localRadius: @radius) {
  -webkit-border-radius: @localRadius;
  -moz-border-radius: @localRadius;
  border-radius: @localRadius;
}

.box-shadow(@localShadow: @shadow) {
  box-shadow: @localShadow;
  -moz-box-shadow: @localShadow;
  -webkit-box-shadow: @localShadow;
}

.border-radius-shadowed(@localRadius: @radius, @localShadow: @shadow) {
  .border-radius(@localRadius);
  .box-shadow(@localShadow);
}