@import "_defaults";
@import "_card";
@import "_alerts";
@import "_navbar";
@import "_forms";
@import "_templates";

body {
  background-color: @background-color;
  color: @default-color;
  padding-top: 85px;
}

.avatar {
  height: 30px;
  border-radius: 3px;
}